#!/bin/sh

set -e

name=rem    # change to e.g. hostname
user=cpbak
script=/opt/src/cpbak/cpbak-cron-"$name".bash

# --

export MAILER_SUBJECT="cpbak of $name @ ` date +'%F %T' `"
mkdir -p /var/log/cpbak
sudo -H -u "$user" "$script" 2>&1 \
  | tee -a /var/log/cpbak/"$name".log | /opt/src/mailer/mailer.bash

# vim: set tw=70 sw=2 sts=2 et fdm=marker :
