#!/bin/bash

set -e

name=rem        # change to e.g. hostname
host=nas        # change to hostname/ip of file server
user=nasbak     # change to username on file server

# --

echo "cpbak of $name @ $( date +'%F %T' )" ; echo
eval "$( ssh-agent -s )" ; ssh-add
echo "==> ssh $user@host ..."
ssh -A "$user@$host" "./bin/cpbak-$name.bash"
echo "<== ssh $user@host"
echo

# vim: set tw=70 sw=2 sts=2 et fdm=marker :
