#!/bin/sh

# This script acts as a whitelist for the command passed to ssh.

set -e

from=/__data/srvbak               # srvbak base_dir; no spaces!
rsync_cmd="rsync --server --sender -vlogDtpre.iLsf . $from/"

  lock=/opt/src/srvbak/srvbak-lock.bash
unlock=/opt/src/srvbak/srvbak-unlock.bash

# --

if [ "$SSH_ORIGINAL_COMMAND" == "$rsync_cmd" ]; then
  atexit () { sudo -n "$unlock"; } ; trap atexit 0
  sudo -n "$lock" ; $rsync_cmd ; exit "$?"
else
  echo "ssh command not allowed: $SSH_ORIGINAL_COMMAND" >&2
  exit 1
fi

# vim: set tw=70 sw=2 sts=2 et fdm=marker :
