#!/bin/sh

rsync_cmd='rsync --server --sender -vlogDtpre.iLsf . __foo__/'

# --

set -e

case "$SSH_ORIGINAL_COMMAND" in
  "$rsync_cmd")
    echo LOCK >&2
    $rsync_cmd ; ret="$?"
    echo UNLOCK >&2
    exit "$ret"
  ;;
  *)
    echo "ssh command not allowed: $SSH_ORIGINAL_COMMAND" >&2
    exit 1
  ;;
esac
